:root {
  --accent-blue: #00acdc;
  --text-main: #000;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  display: block;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-main);
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link:hover,
.nav__link.is-active {
  color: var(--accent-blue);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--accent-blue);
  border-radius: 2px 2px 0 0;
}
